*body {
  font-family: "Gulzar", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* banner section start */
.banner-container{
  width: 100%;
  height: 100vh;
  background-image: url("./images/banner/banner3.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}
.banner-text{
  margin-right:90px;
  margin-top: 50px;
}
.banner-title{
  font-size: 50px;
  font-weight: bold;
  color: antiquewhite;
}
.banner-description{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.contact-btn{
  padding: 30px;
}
.banner-btn{
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  box-shadow: 10px 10px 50px rgba(0,0,0.6,0.8);
}
/* banner section end */

/* failure of previous year start */
.failurs{
  display: flex;
  padding: 40px;
}
.failurs-img{
  width: 50%;
  padding: 30px;
}
.image{
   width: 500px;
   margin-left: 30px; 
}
.failurs-text{
  width: 50%;
  padding: 50px;
  margin-top: 150px;
  margin-right: 30px;
}
.failurs-title{
  font-size: 45px;
  font-weight: bold;
}
.failurs-description{
  width: 75%;
  font-size: 20px;
  padding: 10px;
}
.items{
  list-style:circle;
}

/* failure of previous year end */

/* my plans start */
.plans-title{
  justify-items: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin-left: 200px;
}
.plans{
  display: flex;
  justify-content: space-evenly;
}
.plan{
  width: 30%;
  margin-left: 100px;
}

.plan-head{
  font-size: 35px;
}
.plan-para{
  font-size: 25px;
  font-weight: bold;
  color: cadetblue;
  margin-left: 15px;
}
/* my plans end */

/* positive mindset start */
.positive{
  margin-top:150px;
  width: 75%;
  height: 300px;
  margin: auto;
  background-image:url("./images/watch.png"),linear-gradient(to right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.positive-title{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
  margin-top: 80px;
}
.positive-btn{
  padding: 20px 50px;
  font-size: 25px;
  font-weight: bold;
  background-color:orangered;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.7);
}
/* positive mindset end */

/* footer start */
.footer{
  display: flex;
  width:90vw;
  height: 30vh;
  background-color: black;
  color: antiquewhite;
  padding: 60px;
  margin-top: 50px;
  border-radius: 15px;
}
.footer-left{
  width: 50%;
  padding: 10px;
  margin-left: 50px;
}
.footer-right{
  width: 50%;
}
.subscribe-input{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.subscribe-btn{
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: orange;
  font-size: 25px;
  font-weight: bold;
}
/* footer end */