*body {
  font-family: "Gulzar", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* banner section start */
.banner-container{
  width: 100%;
  height: 100vh;
  background-image: url("./images/banner/banner3.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}
.banner-text{
  margin-right:90px;
  margin-top: 50px;
}
.banner-title{
  font-size: 50px;
  font-weight: bold;
  color: antiquewhite;
}
.banner-description{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.contact-btn{
  padding: 30px;
}
.banner-btn{
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  box-shadow: 10px 10px 50px rgba(0,0,0.6,0.8);
}
/* banner section end */

/* failure of previous year start */
.failurs{
  display: flex;
  padding: 40px;
}
.failurs-img{
  width: 50%;
  padding: 30px;
}
.image{
   width: 500px;
   margin-left: 30px; 
}
.failurs-text{
  width: 50%;
  padding: 50px;
  margin-top: 150px;
  margin-right: 30px;
}
.failurs-title{
  font-size: 45px;
  font-weight: bold;
}
.failurs-description{
  width: 75%;
  font-size: 20px;
  padding: 10px;
}
.items{
  list-style:none;
}


/* failure of previous year end */

/* my plans start */
.plans-title{
  justify-items: center;
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  align-items: center;
  margin-left: 600px;
}
.plans{
  display: flex;
  justify-content: space-evenly;
}
.plan{
  width: 30%;
  margin-left: 100px;
}

.plan-head{
  font-size: 35px;
}
.plan-para{
  font-size: 25px;
  font-weight: bold;
  color: cadetblue;
  margin-left: 15px;
}
/* my plans end */

/* charity section start */
/* charity section (heading) start */

.charity-box{
  text-align: center;
  margin-top: 80px;
}
.charity-title{
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
}
.description-charity{
  font-size: 22px;
  width: 50%;
  margin: auto;
}
.title-fund{
  color: orangered;
}
/* charity section (text part) start */
.charities{
  display: flex;
  margin-top: 35px;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
}
.charity{
  width: 350px;
  height: 490px;
  background: white;
  box-shadow: 4px 4px 8px grey;
  border-radius: 10px;
}
.charity-img{
  width: 350px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.charity-text{
  padding: 15px;
}
.charities-title{
  font-size:24px;
  font-weight: bold;
  color: rgb(54, 53, 53);
}
.charity-description{
  font-size: 18px;
  color: black;
  margin-top: 15px;
}
/* charity section end */

/* positive mindset start */
.positive{
  margin-top:150px;
  width: 75%;
  height: 300px;
  margin: auto;
  background:linear-gradient(50deg, #F15B22 0%, rgba(241, 91, 34, 0)100%),url("./images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.positive-title{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
  margin-top: 80px;
  padding: 2opx 50px;
}
.positive-btn{
  padding: 20px 50px;
  font-size: 35px;
  font-weight: bold;
  background-color:wheat;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.9);
}
/* positive mindset end */

/* footer start */
.footer{
  display: flex;
  width:90%;
  height: 50vh;
  background-color: black;
  color: antiquewhite;
  padding: 60px;
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px 40px;
    margin-bottom: 20px;
}
.footer-left{
  width: 50%;
  padding: 10px;
  margin-left: 50px;
}
.footer-right{
  width: 50%;
}
.subscribe-input{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.subscribe-btn{
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: orange;
  font-size: 25px;
  font-weight: bold;
}
/* footer end */