*body {
  font-family: "Gulzar", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* banner section start */
.banner-container{
  width: 100%;
  height: 100vh;
  background-image: url("./images/banner/banner3.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  
}
.banner-text{
  margin-left: 80px;
  margin-top: 50px;
}
.banner-title{
  font-size: 50px;
  font-weight: bold;
  color: antiquewhite;
}
.banner-description{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.contact-btn{
  padding: 30px;
}
.banner-btn{
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  box-shadow: 10px 10px 50px rgba(0,0,0.6,0.8);
}